<div class="columns">
    <div class="column is-one-fifth">
        <div class="card-content has-background-black has-text-white has-text-centered">
            <h1> Station Name </h1>
            {{station.title}}
    <h4>
    Latitude: {{station.latitude}} <br>
    Longitude: {{station.longitude}}
  </h4>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card-content has-background-black has-text-white has-text-centered">
            <h1> Weather </h1>
            {{latestReading.weather}} <br>
           
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card-content has-background-black has-text-white has-text-centered">
            <h1> Temperature </h1>
            {{latestReading.temp}} <span>C</span>
            <br>
            {{latestReading.temperatureFahrenheit}} <span>F</span>
            <br>
            Min Temperature : {{minTemp}} <br>
            Max Temperature: {{maxTemp}}<br>
            trend: {{tempTrend}}

           
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card-content has-background-black has-text-white has-text-centered">
            <h1> Pressure </h1>
            {{latestReading.pressure}} hpa <br>
            min pressure: {{minPressure}} <br>
            maxPressure: {{maxPressure}} <br>
            presusre Trend: {{pressureTrend}}
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card-content has-background-black has-text-white has-text-centered">
            <h1> Wind Speed </h1>
            speed: {{latestReading.windSpeed}} <br>
            conditions : {{latestReading.beaufort}} <br>
            wind direction: {{latestReading.windDirection}} <br>
            wind chill: {{latestReading.windChill}} <br> <br>
            min wind speed: {{minWindSpeed}} <br>
            max wind speed: {{maxWindSpeed}} <br>
            wind speed trend: {{windSpeedTrend}}
            
           
        </div>
    </div>

</div>